<p>
    Votre compte a bien été créé. Voici vos identifiants :
    <br>
    <ul>
        <li>Identifiant : {{userEmail}}</li>
        <li>Mot de passe : {{password}}</li>
    </ul>
</p>
<p>Pour avoir accès au panel admin, contactez le directeur.</p>