<footer class="bg-body-tertiary">
    <div class="container">
        <!-- Button trigger modal -->
        <div class="mentionsLegales my-3">
            <p class="text-center mentions" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Mentions légales
            </p>
        </div>
        <div class="row py-3 py-sm-4 py-md-5 align-items-center justify-content-center gap-4">
            <div class="col-auto col-lg-2 col-md-3 col-sm-4">
                <a href="{{path('home.index')}}"><img src="/images/logoIsu/logo_SU.png" class="logoEcole w-100"
                        alt="Logo école">
                </a>
            </div>
            <div class="col-sm">
                <div class="d-flex flex-wrap justify-content-center gap-4 align-items-center">
                    <a
                        href="https://www.tiktok.com/@sainteuniondour?_d=secCgYIASAHKAESPgo8N94PTA0DE1mAJT0X1MPclTixxhsC1h0M0fPE%2FWRVB4aq3NtBkJKvpp1qBEMaKrmFqID3jF3ggbPTFfsEGgA%3D&object_id=6660831186066407429&page_open_method=scan_code&schema_type=4&sec_uid=MS4wLjABAAAAC81tnVEKQO5u3zf85AorSir6Ib-1cjofI0pm7wjr28ROytE9v9Lm3V5l_vsf4J0z&share_app_id=1233&share_author_id=6660831186066407429&share_uid=6660831186066407429&tt_from=scan_code&utm_campaign=client_scan_code&utm_medium=2&utm_source=scan_code&_r=1">
                        <img src="/images/logoFooter/tiktok.png" class="logoFooter" alt="tiktok">
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100014835558599">
                        <img src="/images/logoFooter/facebook.png" class="logoFooter" alt="facebook">
                    </a>
                    <a href="https://isud.rentabook.be/fr/">
                        <img src="/images/logoFooter/rentabook_150.png" class="logoFooter" alt="rentabook">
                    </a>
                    <a
                        href="https://www.respectzone.org/2016/01/11/francais-avertissement-de-linitiative-de-prevention-de-la-haine-liste-des-editeurs-et-soutiens/">
                        <img src="/images/logoFooter/respect zone.png" class="logoFooter" alt="respectZone">
                    </a>
                    <a href="https://educateam.be/">
                        <img src="/images/logoFooter/educateam.png" class="logoFooter" alt="educateam">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 text-center text-sm-end AdresseSize">
                <p class="fs-5">Rue du Roi Alert 10,<br>
                    7370 DOUR <br>
                    (+32) 065/ 65.28.45</p>
            </div>
        </div>
    </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Institut Sainte Union</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Mentions Légales</h2>

                <p>Le présent site est la propriété de L'Institut Sainte Union.</p>

                <h3>Coordonnées</h3>
                <p>Nom de l'école : Institut Sainte Union</p>
                <p>Adresse : Rue du Roi Albert 10, DOUR 7370 BELGIQUE</p>
                <p>Téléphone : +32(0)65/65.28.45</p>
                <p>Email : <a href="mailto:direction@isu-dour.be">direction@isu-dour.be</a></p>

                <h3>Directeur de la publication</h3>
                <p>CORNARD Sébastien</p>

                <h3>Hébergement</h3>
                <p>Le site est hébergé par [Nom de l'hébergeur] à l'adresse [Adresse de l'hébergeur].</p>

                <h3>Propriété intellectuelle</h3>
                <p>Tous les contenus présents sur le site de l'Institu Sainte Union sont protégés par les lois
                    sur
                    la propriété intellectuelle. Toute reproduction ou utilisation non autorisée est interdite.
                </p>

                <h3>Données personnelles</h3>
                <p>Les informations collectées sur ce site sont destinées à l'Institut Sainte Union et ne seront
                    en
                    aucun cas cédées à des tiers. Conformément à la loi, vous disposez d'un droit d'accès et de
                    rectification sur vos données personnelles.</p>

                <h3>Cookies</h3>
                <p>Ce site utilise des cookies pour améliorer l'expérience de navigation. En continuant à
                    utiliser
                    le site, vous acceptez l'utilisation de ces cookies.</p>

                <h3>Conditions d'utilisation</h3>
                <p>En accédant à ce site, vous acceptez les conditions d'utilisation énoncées dans ces mentions
                    légales.</p>
            </div>
        </div>
    </div>
</div>