{% extends "base.html.twig" %}
{% block title %}ISU DOUR - Histoire{% endblock %}
{% block body %}
<div class="m-5 mx-lg-5 mx-md-4 mx-sm-3 mx-2 bloc-blanc rounded-4 p-3 p-sm-4 p-md-5">
    <div class="container p-0 d-flex flex-column gap-3 gap-sm-4 gap-lg-5">
        <div >
            <h1 class="text-center color4 fw-bold">Histoire de la Sainte Union</h1>
            <h3 class="text-center color3 fw-bold">et de son fondateur, Jean-Baptiste Debrabant</h3>
        </div>
        <div class="bg-body border-custom p-3 p-sm-4">
            <img src="/images/fondateur/fondateur.jpeg" class="float-sm-start imgFondateur me-4 mb-3" alt="fondateur">
            <p class="mt-1"><strong>L’abbé Jean-Baptiste DEBRABANT</strong> est né à Lecelles dans le Nord de la France le 21
                octobre 1801, et décédé à Douai
                le 18 février 1880.</p>
        
            <p>Au début du XIXe siècle, il régnait en France (après la période de la Révolution, de l’Empire et de la
                Restauration) une atmosphère d’animosité envers les ordres religieux ; c’est pourquoi il ne reçut que très tard
                le soutien de l’archevêque de Cambrai, puis du Pape Pie IX., pour la création de sa congrégation. Son objectif
                était l’éducation de la société en investissant dans la jeunesse par un enseignement où les valeurs chrétiennes
                ont retrouvé leur importance.</p>
        
            <p><em>« En ces temps où la corruption domine le monde, je ne peux donner d’espoir à la jeunesse que dans un
                    enseignement profondément ancré dans le Christianisme. »</em></p>
        
            <p><strong>La congrégation de la Sainte-Union des Sacrés cœurs</strong> de Jésus et de Marie, qu’il a fondée en
                1828, a ouvert de
                nombreuses maisons et écoles communales en France et en Belgique (à partir de 1838), tant des pensionnats pour
                les jeunes filles de bonne famille, que des écoles pour les enfants pauvres et délaissés des quartiers de
                mineurs. En 1859, l’abbé Debrabant créa une fondation en Angleterre, et une autre en Irlande en 1863. Sur son
                lit de mort, il transmit le message : <em>« Allez en Amérique »</em>. Ce fut le cas en 1882 en Argentine, en
                1886 aux
                Etats-Unis, et aujourd’hui au Cameroun et en Tanzanie.</p>
        
            <p><strong>L’école de la Sainte-Union de Dour</strong> a été fondée le 20 mai 1844 à la demande du doyen de
                l’époque, l’abbé Dérie,
                qui désirait y créer une école catholique, et à l’initiative de l’abbé Jean-Baptiste Debrabant et des Sœurs de
                la Congrégation de la Sainte-Union. Les premières religieuses, dirigées par la Révérende Mère Léocadie (Léocadie
                Copin) s’installèrent à la rue Neuve (Trichères) et y fondèrent un <strong>pensionnat</strong> pour jeunes
                filles, ainsi qu’une
                <strong>classe gardienne</strong> et deux <strong>classes primaires.</strong>
            </p>
        
            <p>Rapidement débordée, l’école devra acheter un nouveau bâtiment dans la Grand Rue. Au début du XXe siècle (1911),
                on dénombre 190 élèves en classes gardiennes, 244 en classes primaires et 88 élèves en classes dominicales. À
                cette époque, les sœurs s’occupent également du patronage et d’un hospice.</p>
        
            <p>C’est en 1924 que les statuts de l’asbl « La Sainte-Union » paraissent au Moniteur, et en 1947 que
                <strong>l’école
                    secondaire</strong> est agréée par Arrêté Royal. Entretemps, les Sœurs auront installés leur couvent et leur
                école à la
                rue du Roi Albert.</p>
        
            <p>1972 marquera un tournant dans l’histoire de l’école secondaire avec le passage de l’enseignement traditionnel de
                type II à l’enseignement rénové de type I, comprenant à la fois de l’enseignement professionnel, technique et
                général. L’école compte alors un peu plus de 300 élèves.</p>
        
            <p>C’est en 1998 que les deux dernières religieuses quittent le couvent de Dour. Depuis lors, les classes maternelle
                et
                primaire ont dû, faute de place, déménager dans les anciens bâtiments des Câbleries de Dour, laissant à la seule
                école secondaire l’entièreté des bâtiments de la rue du Roi Albert. Ceux-ci, entièrement rénovés, accueillent
                aujourd’hui pas moins de 1157 élèves.</p>
        
            <p><strong>Les sœurs de la sainte-Union :</strong></p>
        
            <p>Et si J-B Debrabant avait donné le nom de Congrégation des Sœurs de la Sainte Union (des Sacrés Cœurs de Jésus et
                de Marie), c'était pour que <em>« toutes ensembles, elles ne fassent qu'un cœur et qu'une âme comme Jésus et
                    Marie
                    »</em>.</p>
        
            <p>Femmes consacrées dans l'Eglise, les Sœurs de la Sainte Union vivent cette spiritualité de communion avec le
                Christ envoyé pour sauver l'Humanité. C'est dans la poursuite de cette mission qu'elles sont elles-mêmes
                envoyées dans le monde en particulier au service des plus pauvres.</p>
        
            <p>C'est ainsi qu'aujourd'hui, si l'enseignement et la pastorale en milieu scolaire gardent une part importante de
                l'engagement des Sœurs de la Sainte Union, on les retrouve également très présentes auprès d'handicapés, de
                personnes âgées ou dans des quartiers défavorisés.</p>
        
            <p>De même, les Sœurs se sont investies auprès des plus pauvres de la planète tant en Amérique latine qu'en Afrique
                noire et plus récemment en Haïti. Cette diversité des cultures, cette dignité de l'Homme en dépit de sa
                pauvreté, sont «un enrichissement et une force pour toute la Sainte Union ».</p>
        </div>
    </div>
</div>
{% endblock %}